<% @profiles.each do |profile| %>
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Nombre:</label>
      <tr>
        <td><%=@profile.nombre%></td>
      </tr>
    </div>
    <div class="form-group col-md-6">
      <label for="identification">Identificacion:</label>
      <tr>
        <td><%=@profile.cedula%></td>
      </tr>
    </div>
  </div>
  <div class="form-group">
    <label for="telephone">Telefono:</label>
    <tr>
      <td><%=@profile.telefono%></td>
    </tr>
  </div>
<%=link_to "Editar perfil", edit_profile_path(@profile), {class: "btn btn-info"} %>
<% end %>
