<div class="container-fluid">
  <div class="class card-body">
    <img src="https://raw.githubusercontent.com/hguzman/Restaurante-El-Rincon-Del-Sabor/develop/docs/img/logo.png" width="300px" height="320px" alt=""><p>
    <strong>Bienvenido</strong> <%= @user.email %>.</p>
    <p>
      Queremos darte la bienvenida, nos complace saber que quieres ser parte de nuestra comunidad!
    </p>
  </div>
</div>
