<!-- <div class="row">
  <div class="col-md-3  col-md-offset-2 " style="position: absolute; top: 8; right: 0;">
    <% if notice %>
    <div class="alert alert-success">
      <div >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="fas fa-check-circle"></i>  <%= notice %> </strong>
      </div>
    </div>
    <% elsif alert %>
    <div class="alert alert-danger">
      <div>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="fas fa-times-circle"></i>  <%= alert %></strong>
      </div>
    </div>
    <% end %>
  </div>
</div> -->
