<% wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
    <table>
      <thead>
        <tr>
          <th>Plato</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
          <th>Precio total</th>
        </tr>
      </thead>
      <tbody>
        <% @details.each do |d|%>
        <td><%= d.dish.nombre %></td>
        <td><%= d.cantidad %></td>
        <td><%= d.dish.precio %></td>
        <td> <%= d.preciot %></td>
        <%end%>
      </tbody>
    </table>
