<% if user_signed_in? %>
<% else %>
<div class="container p-2">
  <div class="row">
    <div class = "posición col-md-12 footer mt-2" align="center">
      <p class = ""> Aquí puede usar filas y columnas para organizar el contenido del pie de página. </p>
      <div class = "footer-copyright text-center"> © 2020 Copyright:
        <a href="https://hguzman.github.io/Restaurante-El-Rincon-Del-Sabor/">Pied piper</a>
      </div>
    </div>
  </div>
</div>
<% end %>
