<nav class="navbar navbar-expand-lg navbar-light shadow">
  <strong><a class="navbar-brand" href="/">Garvsoft</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto" >
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Iniciar session', new_user_session_path, class:"nav-link btn-session mr-4 shadow" %>
           </li>
           <li class="nav-item">
            <%= link_to 'Registrate', new_user_registration_path, class:"nav-link btn-registrate shadow mr-4" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
