<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h4 align="center"> Editar cliente</h4>
          <%= render 'form', client: @client%>
          <br>
          <%= link_to 'Show', @category %> |
          <%= link_to 'Back', client_path %>
        </div>
      </div>
    </div>
  </div>
</div>
