<div class="row">
  <div class="col-md-11 mx-auto">
      <p class="h3" align="center">Historial de ventas</p>
    <div class="card shadow">
      <div class="card-body">
        <%= line_chart Sale.group_by_day(:created_at).count %>
      </div>
    </div>
  </div>
</div>
