
    <div class="col-md-8">
      <%= link_to "Eliminar cuenta", user_path(current_user), method: :delete, class: "btn btn-danger btn-lg", data: { confirm: "¿Desea eliminar la cuenta?"} %>
    </div>
