{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form action="/plato/new" method="POST">
        <div class="card shadow">
          <div class="card-body">
            <h4 align="center">Nuevo plato</h4>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Nombre</label>
                <input type="text" name="nombre" value="{{nombre}}"class="form-control" id="inputEmail4" autofocus>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Precio</label>
                <input type="text" name="precio" value="{{precio}}" class="form-control" id="inputEmail4">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1">Descripcion</label>
                <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3">{{descripcion}}</textarea>
              </div>
              <label for="">Estado</label>
              <div class="btn-radios p-3" >
                <div class="custom-control custom-radio custom-control-inline mover">
                  <input type="radio" id="customRadioInline1" class="custom-control-input" name="estado"
                    value="Disponible" checked required="">
                  <label class="custom-control-label" for="customRadioInline1">Disponible</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mover">
                  <input type="radio" id="customRadioInline2" class="custom-control-input" name="estado"
                    value="Agotado">
                  <label class="custom-control-label" for="customRadioInline2">Agotado</label>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block">Crear</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
