<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="/cliente/new" method="POST" class="needs-validation" novalidate>
                <div class="card shadow">
                    <div class="card-body">
                        <h4 align="center">Nuevo Cliente</h4>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Nombre</label>
                                <input type="text" name="nombre" class="form-control" pattern="[a-zA-Z]+" required autofocus>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Apellido</label>
                                <input type="text" name="apellido" class="form-control" pattern="[a-zA-Z]+" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Cédula</label>
                                <input type="text" name="cedula" class="form-control" pattern="[0-9]+" maxlength="10" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Dirección</label>
                                <input type="text" name="direccion" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Correo</label>
                                <input type="email" name="correo" class="form-control" required>
                            </div>
                        </div>
                        <label for="">Estado</label>
                        <div class="btn-radios p-3">
                            <div class="custom-control custom-radio custom-control-inline mover">
                                <input type="radio" id="customRadioInline1" class="custom-control-input" name="estado"
                                    value="Activo" checked required="">
                                <label class="custom-control-label" for="customRadioInline1">Activo</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline mover">
                                <input type="radio" id="customRadioInline2" class="custom-control-input" name="estado"
                                    value="Inactivo">
                                <label class="custom-control-label" for="customRadioInline2">Inactivo</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block p-2">Crear Cliente</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
