<div class="container p-5">
  <div class="row">
    <div class="col-md-7 border border-dark">
      <form class="" action="/home" method="POST">
        <div class="card shadow mx-auto">
          <div class="card-body">
            <label for="">Buscar</label>
            <input type="text" name="nombre" value="" size="40">
            <button  class="btn btn-primary"name="button">Buscar</button>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Plato</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cant</th>
                  <th scope="col">Remover</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Mark</td>
                  <td scope="row">Otto</td>
                  <td scope="row">@mdo</td>
                  <td scope="row"><a href="#" class="btn btn-danger">remover</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
