/*------------------footer------------------*/
.footer {
  margin-top: 55px;
}
/*------------------------ scroll------------------------ */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(1, 17, 36);
  border-radius: 4px;
}
::-webkit-scrollbar:active {
  width: 12px;
}
.alerts {
  position: absolute;
  right: 10px;
}
