<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/css.css">
    <meta charset="utf-8">
    <title>Hoja de vida</title>
  </head>
  <body>
<div class="container">
  <div class="L-izquierdo">
      <img src="../img/perfil.jpg" alt="" class="img-per">

<div class="sobremi">
  <h2><u>CONTACTO</u></h2>
  <ul>
    <strong>Correo</strong><br>
    <li>wilmanjunior2001@gmail.com</li><br>
    <strong>Telefono</strong><br>
    <li>3127506216</li><br>
    <strong>Perfil de Github</strong><br>
    <li><a href="https://github.com/wjorellano">Wilman Orellano Heredia</a></li>
  </ul>
</div>
<div class="sobremi">
  <h2><u>Cursos</u></h2>
  <li><a href="#">Curso de github</a></li><br>
  <li><a href="#">Metodologia SCRUM</a></li><br>
  <li><a href="#">Marketing digital</a></li><br>
  <li><a href="#">Programacion basica</a></li><br>
</div>

  </div>
  <div class="L-derecho">


      <h1>Wilman Orellano</h1>
      <h3>FORMACION</h3><hr>
      <ul>
        <li><strong>Sobre mi</strong></li>
        <p>Soy una persona organizada y con una gran motivación, además de adaptarme a cualquier
            circunstancia y dar siempre lo mejor de mí en cualquier tarea que se me sea asignada.
            Me encantaría poder entrar a formar parte de una empresa en la que pueda aplicar todos mis
            conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente.</p>
        <li><strong>Aprendiz SENA</strong></li>
        <p>Soy aprendiz sena del centro industrial y de aviacion, me encuentro en la ficha: 1905372 titulada Analisis y desarrollo de sistemas de informacion  </p>
      </ul>

      <h3>SERVICIOS</h3><hr>
      <ul>
        <li><strong>Diseño de aplicaciones web</strong></li>
        <p>Node.js, ruby on rails, javascript</p>
        <li><strong>Mantenimiento</strong></li>
        <p>Mantenimiento a equipos de todas las marcas.</p>
        <li><strong>Desarrollo de Software</strong></li>
        <p>Desarrollo a la medida, administración de bases de datos. Integramos con sitios web, Tienda en linea, Dispositivos electrónicos, Pagos en linea. Fotografía de publicidad. Diseño gráfico. Servicios: Diseño web, Fotografia, Edición de video.</p>
      </ul>
      <h3>HABILIDADES</h3><hr>
      <ul>
        <li><strong>javascript en el backend</strong></li>
        <li><strong>Programacion orientada a objetos</strong></li>
      </ul>
  </div>
</div>
  </body>
</html>
