<div class="container">
  <img src="img/pied-piper.png" class="logo" width="100">
    <div class="row login">
        <div class="col-md-4 col-sm-4 col-xs-8 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="agr">
                          <div class="form-group">
                              <input type="email" class="form-control" id="formGroupExampleInput"
                              placeholder="Correo electronico" required="" name="email" autofocus>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" id="formGroupExampleInput"
                              placeholder="Contraseña" name="password">
                          </div>
                        </div>
                        <button class="btn btn-success  btn-block">Iniciar</button>
                    </form>
                    <div class="p-2">
                      <a class=""href="#">¿olvidastes tu contraseña?</a>
                    </div>
                </div>
            </div>
            <div class="card redes">
              <div class="card-body">
                <a class="text-dark" href="https://github.com/hguzman/Restaurante-El-Rincon-Del-Sabor"><i class=" p-1 icon fab fa-github"></i></a>
                <a class="text-dark" href="#"><i class=" p-1 icon fab fa-facebook"></i></a>
                <a class="text-dark" href="#"><i class=" p-1 icon fab fa-google"></i></a>
              </div>
            </div>
        </div>
    </div>
</div>
