/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "bootstrap";
@import "font_awesome5_webfont";
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
a{
  text-decoration: none !important;
}
.contenedor{
  height: 582px;
  overflow: hidden;
  overflow-y: scroll;

  .contenedor::-webkit-scrollbar{
    width: 10px;
  }
}
::-webkit-scrollbar{
  width: 0.5px;
  background: transparent;
}
.contenedor::-webkit-scrollbar-thumb{
  background: var(--dark);
  border-radius: 5px;
}
.btn-session{
  padding: 10px;
  background: rgb(58, 109, 186);
  color: white !important;
  border-radius: 5px;

  .btn-session:hover{
    color:white;
  }
}
.btn-registrate{
  padding: 10px;
  background: white;
  border-radius: 5px;
  color: blue !important;
}
.footer{
  position:absolute;
  bottom: -6px;
}
#toast-container{
  top: 80px;
}
