<%= simple_form_for  @categoria, remote: true do |f| %>
  <%= f.input :nombre %>
  <%= f.input :descripcion %>
  <div class="form-actions">
    <%= f.button :submit, @categoria.new_record? ? "Crear Categoría" : "Actualizar Categoría", :class => "btn btn-success" %>
  </div>
<% end %>
