<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos estamos comunicando con usted para notificarle que su correo electr칩nico se cambiar치 a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos estamos comunicando con usted para notificarle que su correo electr칩nico se cambiar치 a <%= @resource.email %>.</p>
<% end %>
