<div class="container p-5">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form class="needs-validation" novalidate action="/" method="POST">
        <div class="card shadow">
          <div class="card-body">
            <h4 align="center">Inicio de sesion</h4>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01">Correo</label>
                <input type="email" class="form-control" name="correo" id="validationCustom01" autofocus required tabindex="1">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01" class="v">Contraseña</label>
                <input type="password" name="contraseña" class="form-control" minlength="8" id="validationCustom01" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg btn-block" type="submit">Entrar</button>
          </div>
        </div>
      </form>
      <div class="card mt-4 shadow card-icon">
        <div class="mt-2" align="center">
          <a class="text-dark a-icon" href="https://github.com/hguzman/Restaurante-El-Rincon-Del-Sabor"><i class=" icon fab fa-github"></i></a>
          <a class="text-dark" href="#"><i class=" icon fab fa-facebook"></i></a>
          <a class="text-dark" href="#"><i class=" icon fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
