<%= simple_form_for(@sale) do |f| %>
  <div class="col-md-3" id="cliente_venta">
     <h5 class="mt-4">Datos del cliente</h5>
     <%= f.association :client, prompt: "selecionar cliente", label: "cliente", required: false %>
  </div>
  <%= f.button :submit, 'Generar venta', class: "btn btn-primary" %>
<% end %>
