<% wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
    <table>
      <thead>
        <tr>
          <th style="width: 200px;" >N° Factura</th>
          <th style="width: 200px;">Nombre Cliente</th>
          <th style="width: 200px;">Total</th>
          <th style="width: 200px;">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |sale|%>
          <tr>
            <td><%= sale.id %></td>
            <td><%= sale.client.nombre %></td>
            <td><%= sale.total %></td>
            <td><%= sale.created_at.strftime('%A, %d de %B') %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
